<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="Send2Node" enabled="false" stopProcessing="true">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://employment-qas.mahidol.ac.th:4279/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>